{% extends 'layouts/base.html' %}

{% block content %}
    <h1 class="text-center my-4">CSAT: Staff Awareness Assessment</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                {% for question in questions %}
                    <div class="question mb-4 p-3" style="background-color: #003366; color: #ffffff; border-radius: 5px;">
                        <p>{{ question.text }}</p>
                        <div class="choices p-3" style="background-color: #cce6ff; border-radius: 5px;">
                            {% for choice in question.choices.all %}
                                {% if question.question_type == "SC" %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ choice.id }}" id="choice_{{ choice.id }}">
                                        <label class="form-check-label" for="choice_{{ choice.id }}" style="color: #000;">
                                            {{ choice.text }}
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="question_{{ question.id }}" value="{{ choice.id }}" id="choice_{{ choice.id }}">
                                        <label class="form-check-label" for="choice_{{ choice.id }}" style="color: #000;">
                                            {{ choice.text }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary ml-2">Reset</button>
                </div>
            </div>
        </form>
    </div>
    {% include "includes/footer.html" %}
    <script>
        document.querySelector('form').addEventListener('reset', function(e) {
            // Prevent default reset action
            e.preventDefault();
            
            // Optionally, clear the CSRF token input field
            document.querySelector('[name="{{ csrf_token }}"]').value = '';
            
            // Clear other inputs
            var inputs = document.querySelectorAll('input[type="radio"], input[type="checkbox"]');
            inputs.forEach(function(input) {
                input.checked = false;
            });
            
            // Optionally, trigger the reset event again to visually reset the form
            this.reset();
        });
    </script>
{% endblock %}
