{% extends 'layouts/base-fullscreen.html' %}
{% block content %}
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-3">
                    <div class="text-muted text-center font-weight-bold mt-4">
                        <h2 class="fw-bold">Reset Password</h2>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <p>Enter your new password</p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.new_password1 }}
                        {{ form.new_password2 }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Reset password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
