{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-3">
                    <div class="text-muted text-center font-weight-bold mt-4">
                        <h2 class="fw-bold">Reset Password</h2>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <p>An email has been sent with instructions to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
