{% extends 'layouts/base.html' %}

{% block title %}Delete Account{% endblock title %}

{% block content %}


<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Delete Account</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-user-xmark"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Delete</a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>  
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card bg-light shadow border-0">
                <div class="card-header bg-transparent pb-3">
                    <h2 class="text-center">Confirm Account Deletion</h2>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        Are you sure you want to delete your account? This action cannot be undone.
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{% url 'authentication:profile' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
